<ng-container *ngIf="location$ | async as location">
  <ng-container *ngIf="isValidLocationState(location)">
    <ngb-alert type="success" [dismissible]="true">
      <span>Location successfully set.</span>
    </ngb-alert>
  </ng-container>
  <ng-container *ngIf="isDefaultLocationState(location)">
    <ngb-alert type="dark" [dismissible]="true">
      <span
        >To be able to display the forecast for your location, the application
        needs access to your <strong>location</strong>. If you do not wish to
        grant location access, you can search for a location manually
      </span>
      Click
      <a
        class="bg-transparent border-0 outline-0 cursor-pointer text-decoration-none text-body fw-bold"
        [routerLink]=""
        (click)="handleGrantLocation($event)"
        >here</a
      >
      to grant access
    </ngb-alert>
  </ng-container>
</ng-container>

<ng-container *ngIf="locationError$ | async as locationError">
  <ngb-alert type="danger" [dismissible]="true">
    <span>An error occured while trying to get location.</span>
  </ngb-alert>
</ng-container>
