<div class="d-flex gap-2 align-items-center">
  <input
    placeholder="Search for a location"
    class="form-control"
    (keyup)="search(getValue($event))" />
  <button (click)="handleGrantLocation($event)" class="btn btn-dark">
    <img src="assets/ui/location-solid.svg" alt="Location icon" />
  </button>
</div>
<ng-container *ngIf="locationNotFound$ | async as locationNotFound">
  <span class="text-danger mt-2"
    >No cities match your search. Please validate your input and try again</span
  >
</ng-container>
