<ng-container
  *ngIf="{ weather: weather$ | async, location: location$ | async } as vm">
  <div class="weather-summary">
    <app-city-details
      [coordinates]="vm.location"
      [currentWeather]="vm.weather?.current_measurement"></app-city-details>
    <app-forecast-daily
      [dailyWeather]="vm.weather?.hourly_measurements"></app-forecast-daily>
    <app-forecast-weekly
      [weeklyWeather]="vm.weather?.daily_measurements"></app-forecast-weekly>
    <app-forecast-details></app-forecast-details>
  </div>
</ng-container>
