<div
  class="sidebar p-2 rounded d-flex flex-column align-items-start justify-content-between h-100">
  <img src="/assets/logo.svg" alt="Logo" class="logo" />
  <div class="sidebar-links">
    <a routerLink="/weather" class="sidebar-link">
      <img class="sidebar-link__icon" src="/assets/ui/cloud-solid.svg" />
      Weather</a
    >
    <a routerLink="/cities" class="sidebar-link">
      <img class="sidebar-link__icon" src="assets/ui/city-solid.svg" />
      Cities</a
    >
  </div>
  <div class="sidebar-links d-flex flex-column gap-2">
    <a routerLink="/settings" class="sidebar-link">
      <img class="sidebar-link__icon" src="assets/ui/gear-solid.svg" />
      Settings</a
    >
  </div>
</div>
