<div class="forecast-daily">
  <h3>Today's forecast</h3>

  <div class="forecast-daily__forecast-container">
    <!--    Iterate through data here-->
    <div class="forecast-daily__forecast-container__forecast">
      <span
        class="forecast-daily__forecast-container__forecast__time">6:00AM</span>
      <div class="forecast-daily__forecast-container__forecast__icon">
        <img src="assets/ui/sun-solid.svg">
      </div>
      <span class="forecast-daily__forecast-container__forecast__temperature">
        23C
      </span>
    </div>

    <div class="forecast-daily__forecast-container__forecast">
      <span
        class="forecast-daily__forecast-container__forecast__time">6:00AM</span>
      <div class="forecast-daily__forecast-container__forecast__icon">
        <img src="assets/ui/sun-solid.svg">
      </div>
      <span class="forecast-daily__forecast-container__forecast__temperature">
        23C
      </span>
    </div>

    <div class="forecast-daily__forecast-container__forecast">
      <span
        class="forecast-daily__forecast-container__forecast__time">6:00AM</span>
      <div class="forecast-daily__forecast-container__forecast__icon">
        <img src="assets/ui/sun-solid.svg">
      </div>
      <span class="forecast-daily__forecast-container__forecast__temperature">
        23C
      </span>
    </div>

    <div class="forecast-daily__forecast-container__forecast">
      <span
        class="forecast-daily__forecast-container__forecast__time">6:00AM</span>
      <div class="forecast-daily__forecast-container__forecast__icon">
        <img src="assets/ui/sun-solid.svg">
      </div>
      <span class="forecast-daily__forecast-container__forecast__temperature">
        23C
      </span>
    </div>

    <div class="forecast-daily__forecast-container__forecast">
      <span
        class="forecast-daily__forecast-container__forecast__time">6:00AM</span>
      <div class="forecast-daily__forecast-container__forecast__icon">
        <img src="assets/ui/sun-solid.svg">
      </div>
      <span class="forecast-daily__forecast-container__forecast__temperature">
        23C
      </span>
    </div>

    <div class="forecast-daily__forecast-container__forecast">
      <span
        class="forecast-daily__forecast-container__forecast__time">6:00AM</span>
      <div class="forecast-daily__forecast-container__forecast__icon">
        <img src="assets/ui/sun-solid.svg">
      </div>
      <span class="forecast-daily__forecast-container__forecast__temperature">
        23C
      </span>
    </div>
    <div class="forecast-daily__forecast-container__forecast">
      <span
        class="forecast-daily__forecast-container__forecast__time">6:00AM</span>
      <div class="forecast-daily__forecast-container__forecast__icon">
        <img src="assets/ui/sun-solid.svg">
      </div>
      <span class="forecast-daily__forecast-container__forecast__temperature">
        23C
      </span>
    </div>
  </div>
</div>
