<h3>Additional details</h3>
<div class="panel-wrapper">
  <ng-container *ngIf="currentWeather; else noCurrentWeather">
    <app-details-panel
      detailName="Wind Speed"
      [detailValue]="currentWeather.wind_speed_10m"
      iconUrl="assets/ui/wind-solid-blue.svg"></app-details-panel>

    <app-details-panel
      detailName="Wind direction"
      [detailValue]="currentWeather.wind_direction_10m"
      iconUrl="assets/ui/compass-solid-blue.svg"></app-details-panel>

    <app-details-panel
      detailName="MSL pressure"
      [detailValue]="currentWeather.pressure_msl"
      iconUrl="assets/ui/water-droplet-solid.svg">
    </app-details-panel>

    <app-details-panel
      detailName="Cloud cover"
      [detailValue]="currentWeather.cloud_cover"
      iconUrl="assets/ui/cloud-solid-blue.svg">
    </app-details-panel>

    <app-details-panel
      detailName="Surface pressure"
      [detailValue]="currentWeather.surface_pressure"
      iconUrl="assets/ui/person-ground-solid-blue.svg">
    </app-details-panel>

    <app-details-panel
      detailName="Feels like..."
      [detailValue]="currentWeather.apparent_temperature"
      iconUrl="assets/ui/sun-solid-orange.svg">
    </app-details-panel>
  </ng-container>
</div>
<ng-template #noCurrentWeather>
  <h5>No additional details are available.</h5>
</ng-template>
