<div class="forecast-detailed-panel rounded px-2 py-3 shadow">
  <img class="mb-3" src="assets/ui/wind-solid-blue.svg" />
  <h5>Wind speed</h5>
  <span>Value</span>
</div>

<div class="forecast-detailed-panel rounded px-2 py-3 shadow">
  <img class="mb-3" src="assets/ui/compass-solid-blue.svg" />
  <h5>Wind direction</h5>
  <span>Value</span>
</div>
<div class="forecast-detailed-panel rounded px-2 py-3 shadow">
  <img class="mb-3" src="assets/ui/water-droplet-solid.svg" />
  <h5>Humidity</h5>
  <span>Value</span>
</div>

<div class="forecast-detailed-panel rounded px-2 py-3 shadow">
  <img class="mb-3" src="assets/ui/cloud-solid-blue.svg" />
  <h5>Cloud cover</h5>
  <span>Value</span>
</div>

<div class="forecast-detailed-panel rounded px-2 py-3 shadow">
  <img class="mb-3" src="assets/ui/person-ground-solid-blue.svg" />
  <h5>Surface pressure</h5>
  <span>Value</span>
</div>

<div class="forecast-detailed-panel rounded px-2 py-3 shadow">
  <img class="mb-3" src="assets/ui/sun-solid-orange.svg" />
  <h5>Feels like...</h5>
  <span>Value</span>
</div>
