:host{
  display:grid;
  grid-template-columns: repeat(3,auto);
  gap: 1rem;
}

.forecast-detailed-panel{
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #C5D1EB;

  & img{
    width: 64px;
    height: 64px;
  }
}
