<div class="city-details">
  <ng-container *ngIf="coordinates && currentWeather; else noLocationTemplate">
    <div class="city-details__hero">
      <h1>Current weather</h1>
      <h5>
        Detected coordinates
        {{ coordinates.latitude }},
        {{ coordinates.longitude }}
      </h5>
      <p>Rain: {{ currentWeather.rain | displayValueWithUnit }}</p>
      <p>
        Wind speed: {{ currentWeather.wind_speed_10m.value }}
        {{ currentWeather.rain.unit }}
      </p>
      <p>Snowfall: {{ currentWeather.snowfall | displayValueWithUnit }}</p>
    </div>

    <div class="city-details__icon">
      <img
        [src]="
          currentWeather.temperature_2m.value > 15
            ? 'assets/ui/sun-solid-orange.svg'
            : 'assets/ui/snowflake-solid-blue.svg'
        " />
      <span
        *ngIf="
          currentWeather.temperature_2m.value > 15 &&
          currentWeather.temperature_2m.value < 28
        ">
        Perfect for a walk.
      </span>
      <span *ngIf="currentWeather.temperature_2m.value > 28">
        Getting kinda hot.
      </span>
      <span *ngIf="currentWeather.temperature_2m.value < 15">
        It's starting to get chilly.
      </span>
    </div>

    <div class="city-details__current-temperature">
      <h1>{{ currentWeather.temperature_2m | displayValueWithUnit }}</h1>
    </div>
  </ng-container>

  <ng-template #noLocationTemplate>
    <div>
      <h3>No location available.</h3>
      <h5>
        Try enabling location services or searching for a location for the
        weather to be displayed.
      </h5>
    </div>
  </ng-template>
</div>
